<h1>Anmelden</h1>
<p>Gib einfach deine Email-Adresse ein! Wenn du dich schon einmal eingeloggt hast werden deine gemerkten Songs wiederhergestellt, wenn nicht wird ein Account für dich angelegt und der momentane Inhalt der Merkliste zu deinem Account hinzugefügt. Ein Passwort wird nicht benötigt!</p>
<form method="post">
  <b>Email:</b><br />
  <input name="email" />
  <button>Anmelden / Registrieren</button>
</form>
